.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #6b068a;
  border: 1px solid #6b068a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form label {
  margin-right: 1rem;
}

.form button:hover,
.form button:active {
  background-color: #47035d;
  border-color: #47035d;
}

@media (max-width: 500px) {
  .form button {
    padding: 0.5rem 1rem;
  }
}
