.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 320px;
}

.modal {
  position: absolute;

  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 500ms ease-out forwards;
}

@media (min-width: 1440px) {
  .modal {
    left: 50%;
    transform: translateX(-50%) !important;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .modal {
    width: 95%;
    min-width: 300px;
  }
}

@media (max-width: 320px) {
  .modal {
    left: 0px;
    transform: translateX(0);
    width: 320px;
  }
}
